.search {
  display: flex;
  margin: auto;
  padding: 0;
  border: #333 2px solid;
  width: fit-content;
}

.search input {
  height: 2rem;
  width: 20rem;
  border-radius: 0;
  border: none;
  font-size: 1.2rem;
}
.search input:focus {
  outline: none;
}

.search button {
  height: 2rem;
  border: none;
  background-color: #333;
  color: #fafafa;
  font-size: 1.2rem;
}
.search button:hover {
  cursor: pointer;
}

.pagination {
  width: fit-content;
  margin: 2rem auto;
}
